aiogram>=3.6
fastapi>=0.115
uvicorn[standard]>=0.30
SQLAlchemy[asyncio]>=2.0
asyncpg>=0.29
alembic>=1.13
pydantic-settings>=2.4
structlog>=24.1
prometheus-fastapi-instrumentator>=7.0
python-dateutil>=2.9
passlib[bcrypt]>=1.7


# Dev tools
types-python-dateutil
pytest>=8.2
pytest-asyncio>=0.23
pytest-cov>=5.0
mypy>=1.11
ruff>=0.5
black>=24.8
bandit>=1.7